<html>
   <head>
      <title>Edit Group</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
      
      <script>
         $(document).ready(function() {
            $('select').material_select();
         });
      </script>
   </head>
   
   <body class = "container" style="padding-top: 50px">   

    <div id="EditGroupDiv">
        <div class="col s6">
            <label>Select Group</label>
                <select id="EditGroupDropdown">
                    <option value = "" disabled selected>Select Group</option>
                </select>               
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn" onclick="EditGroupValidation()">Edit Group</a>
        </div>
    </div>

      <div id="EditGroupFormDiv">
      <div class = "row">
         <form class = "col s12" style="margin-top: 10%;">
            <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Enter group here" id="group_name_edit" type="text" class="validate">
                  <label for="group_name">Group Name</label>
                </div>
            </div>
         </form>       
      </div>
      <div>
        <input type="checkbox" id="AddUserCheckboxForEditGroup">
        <label for="AddUserCheckboxForEditGroup">Add User</label>
      </div>
      <div>
        <input type="checkbox" id="EditUserCheckboxForEditGroup">
        <label for="EditUserCheckboxForEditGroup">Edit User</label>
      </div>
      <div>
        <input type="checkbox" id="DeleteUserCheckboxForEditGroup">
        <label for="DeleteUserCheckboxForEditGroup">Delete User</label>
      </div>
      <div>
        <input type="checkbox" id="AddGroupCheckboxForEditGroup">
        <label for="AddGroupCheckboxForEditGroup">Add Group</label>
      </div>
      <div>
        <input type="checkbox" id="EditGroupCheckboxForEditGroup">
        <label for="EditGroupCheckboxForEditGroup">Edit Group</label>
      </div>
      <div>
        <input type="checkbox" id="DeleteGroupCheckboxForEditGroup">
        <label for="DeleteGroupCheckboxForEditGroup">Delete Group</label>
      </div>
      <div class="row" style="margin-top: 10px;">
        <a class="waves-effect waves-light btn" onclick="EditedGroupValidation()">Save Edited Group</a>
      </div>
   </div>
      <script src="/static/user_management/editgroup.js"></script>
   </body>   
</html>