{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>V2S</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  	<link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body class="body">
	
	<div class="row login">
		<div class="col s12 12 pull-s1" style="width: 400px; margin-left: -102px;">
			<div class="card">
				<div class="input-field col s10 offset-s8" style="width: 100px !important">
					<select id="language_drop_down" class="validate" >
					</select>
					<label class="role_label" id="role_label" data-error="Select an option">Language</label>
				</div>
				<div class="card-action red white-text">
					<center>
						<h3 class="company_label">V2STECH</h3>
					</center>
				</div>	
				<div class="card-content">
					<div class="input-field">
						<i class="material-icons prefix">account_circle</i>
						<label class="user_name_label" for="username">Username</label>
						<input type="text" name="username" id="username" required>
					</div><br>
					<div class="input-field">
						<i class="material-icons prefix">vpn_key</i>
						<label class="password_label" for="password">Password</label>
						<input type="password" name="password" id="password" required>
					</div><br>
					<div class="form-field center-align">
						<button type="button" class="btn-large red" onclick="checkValidations()"><span class="Login_button_label">Login</span></button>
						<button class="btn-large red" onclick="register()"><span class="register_button_label">Register</span></button>
					</div><br>
					<div class="card-panel">
						<a href="/v2s/forgot_password/"><span class="forgot_password_label blue-text text-darken-1">Forgot password?</span></a><br>
					</div><br>
					</div>	
			</div>		
		</div>		
	</div>
</body>
</html>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static '/js/login.js' %}"></script>
<script type="text/javascript" src="{% static '/js/materialize.js' %}"></script>