{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static '/css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static '/user_registration/css/user_registration_form.css' %}"  media="screen,projection"/> 
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <a id="back_button" href="/v2s/login/" class="waves-effect waves-light btn"><i class="material-icons prefix">arrow_back</i></a>
    
    <div class="container">
        <div class="form-border row">
            <form id="registration_form" class="col s8 push-s2" method="post" >
                {% csrf_token %}
                <div class="row">
                    <div class="col push-s3">
                        <div class="col push-s2">
                            <img id="view_image" src="" alt="image not found" class="circle responsive-img" width="150" height="150">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        <div class="file-field input-field">
                            <div class="btn">
                                <span class="upload_picture_label">Upload Profile Picture</span>
                                <input id="profile_picture" type="file" name="profile_picture" required="required" class="validate" accept=".jpg,.jpeg,.png"/>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="profile file-path validate" type="text" > 
                            </div>
                            <span class="helper-text"><b class="note_label">Note: </b><span class="profile_pic_note">Only .jpg, .jpeg or .png file extension is allowed.</span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="user_name" type="text" class="validate" required="" aria-required="true">
                        <label class="user_name_label" for="user_name">Username</label>
                        <span class="helper-text" data-error="Sorry... Username already taken" data-success="Username available"></span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">edit</i>
                        <input id="first_name" type="text" class="validate" required="" aria-required="true">
                        <label class="first_name_label" for="first_name">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">edit</i>
                        <input id="middle_name" type="text" class="validate" required="" aria-required="true">
                        <label class="middle_name_label" for="middle_name">Middle Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">edit</i>
                        <input id="last_name" type="text" class="validate" required="" aria-required="true">
                        <label class="last_name_label" for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 1.5rem;" class="input-field col s6">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" type="password" class="validate" required="" aria-required="true">
                        <label class="password_label" for="password">Password</label>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label class="dob_label" for="dob">Date of Birth</label>
                            <input id="dob" type="date" class="datepicker" required="" aria-required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mail</i>
                        <input id="email" type="email" class="validate" required="" aria-required="true">
                        <label class="email_label" for="email" >Email</label>
                        <span class="helper-text" data-error="Invalid Email Id" data-success="check once again whether email address is correct."></span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="telephone" type="tel" class="validate" data-length="10" required="" aria-required="true">
                        <label class="telephone_label" for="telephone">Telephone</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">home</i>
                        <textarea id="textarea1" class="materialize-textarea" data-length="120" required class="validate"></textarea>
                        <label class="address_label" for="textarea1">Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <label class="gender_label" required class="validate" for="gender">Gender</label>
                        <p>
                            <label>
                              <input name="gender" type="radio" checked value="Male"/>
                              <span class="Male_label">Male</span>
                            </label>
                        </p>
                        <p>
                        <label>
                            <input name="gender" type="radio" value="Female" />
                            <span class="Female_label">Female</span>
                        </label>
                        </p>
                        <p>
                        <label>
                            <input class="with-gap" name="gender"type="radio" value="Other" />
                            <span class="Other_label">Other</span>
                        </label>
                        </p>
                    </div>
                    <div class="switch col s6">
                        <label class="switch_label" for="switch">Indian ?</label>
                        <label><br>
                        <span class="switch_off_label">Off</span>
                        <input type="checkbox" name="indian" id="indian" required class="validate">
                        <span class="lever"></span>
                        <span class="switch_on_label">On</span>
                        </label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="input-field col s12 m6">
                        
                        <select id="dropdownid" required class="validate">
                            <option class="select_one_label" value="" disabled selected><span class="select_one_label"></span></option>
                        </select>
                        <label class="qualification_label" data-error="Select an option">Choose your Qualification</label>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span class="resume_label">Upload Resume</span>
                            <input id="resume" type="file" name="resume" required="required" class="validate" accept=".doc,.docx,.pdf"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" > 
                        </div>
                        <span class="helper-text"><b class="note_label">Note: </b><span class="resume_note">Only .doc, .docx or .pdf file extension is allowed.</span></span>
                    </div>
                </div>

                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span class="pan_card_label">Upload Pan Card</span>
                            <input id="pan_card" type="file" name="pan_card" required="required" class="validate" accept=".jpg,.jpeg,.png,.doc,.docx"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" > 
                        </div>
                        <span class="helper-text"><b class="note_label">Note: </b><span class="pan_card_note">Only .jpg, .jpeg, .png, .doc or .docx file extension is allowed.</span></span>
                    </div>
                </div>

                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span class="adhar_card_label" >Upload Aadhar Card</span>
                            <input id="adhar_card" type="file" name="adhar_card" required="required" class="validate" accept=".jpg,.jpeg,.png,.doc,.docx"/>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" > 
                        </div>
                        <span class="helper-text"><b class="note_label">Note: </b><span class="aadhar_card_note">Only .jpg, .jpeg, .png, .doc or .docx file extension is allowed.</span></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col push-s3">
                        <button id="submit_form" class="btn waves-effect waves-light" type="submit" name="submit" onclick="RegisterUser();"><span class="submit_label">Register Now</span>
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>      
            </form>
        </div>
    </div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static '/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static '/user_registration/js/user_registration_form.js' %}"></script>
</body>
</html>