<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/google_drive/jquery.min.js"></script>
    <script src="/static/google_drive/popper.min.js"></script>
    <script src="/static/google_drive/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="card" style="border: none; margin-top: 20px;">
            <div class="row">
                <div class="card col-sm-4" id="GetUserListDiv" style="border: none;">
                    <h3>Get File List</h3>
                    <div class='fileListDiv' style="height: 200px;overflow-y: scroll;">

                    </div>
                    <button class="btn btn-primary" onclick="GetFileList()">Click Here</button>
                </div>
                
                <div class="card col-sm-4" style="border: none;">
                <h3>Upload</h3>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file" id="file"><br><br>
                    <button class="btn btn-primary" type="submit" onclick="UploadFile()">Upload</button>
                </form>
                </div>

                <div class="card col-sm-3" id="DownloadDiv" style="border: none;">
                    <h3>Downlaod</h3>
                    <div>
                        <select name="downloadDiv" id="downloadDiv" >
                            <option>select file to download</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-primary" style="margin-top: 10px;" onclick="DownloadFile()">Download</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="/static/google_drive/home.js"></script>
</body>
</html>