<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/user_management/css/bootstrap.min.dashboard.css">
    <script src="/static/user_management/js/jquery.min.dashboard.js"></script>
    <script src="/static/user_management/js/bootstrap.min.dashboard.js"></script>
    <title>Dashboard</title>
</head>
<body>
    {% include 'user_management/navigation.html' %}
    <div class="container">
        <h1>User Management Homepage</h1>
    </div>
</body>
</html>