<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/user_management/css/bootstrap.min.css">
    <script src="/static/user_management/js/jquery.min.js"></script>
    <script src="/static/user_management/js/popper.min.js"></script>
    <script src="/static/user_management/js/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div style="margin-top: 10%;">
        <div class="card col-sm-4" style="border: none;margin: auto;">
            
                <div class="card col-sm-6" style="border: none;">
                    <h5>Username</h5>
                </div>
                <div class="card col-sm-12" style="border: none;margin-bottom: 10px;">
                    <input id="userName" type="text">
                </div>
            

                <div class="card col-sm-6" style="border: none;">
                    <h5>Password</h5>
                </div>
                <div class="card col-sm-12" style="border: none;margin-bottom: 10px;">
                    <input id="passWord" type="password">
                </div>

                <div class="card col-sm-12" style="border: none;">
                    <button class="btn btn-primary" onclick="CheckLoginUserManagementValidation()">
                        Login
                    </button>
                </div>
        </div>
    </div>
    <script src="/static/user_management/js/login.js"></script>
    <script src="/static/user_management/js/userwebpage.js"></script>
</body>
</html>